---
import type { ActuT } from "../../helpers";

interface Props {
  actu: ActuT;
}
const { actu } = Astro.props;
---

<div class="wrapper">
  <div class="content">
    <div class="titleWrapper">
      <div class="icons">
        {
          actu.auteurInfo?.map((auteur, i) => (
            <a href={auteur.url}>
              <img
                loading="lazy"
                src={auteur.logooriginal ?? auteur.logo}
                alt={actu.auteur[i]}
                class="icon"
              />
            </a>
          ))
        }
      </div>
      <a href={actu.url} class="title">{actu.title}</a>
    </div>
    <img src={actu.image} alt={actu.title} class="mainImg" loading="lazy" />
    <div class="md">
      <div set:html={actu.content} />
    </div>
    {
      actu.source && (
        <a href={actu.source} target="_blank" class="source">
          SOURCE
        </a>
      )
    }
  </div>
</div>

<style>
  .wrapper {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    outline: 10px solid black;
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
  }
  .icons {
    display: flex;
    gap: 10px;
  }

  .titleWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .title {
    font-size: xx-large;
    font-weight: bold;
    color: blue;
  }

  .mainImg {
    max-height: 60vh;
    max-width: 100%;
    padding: 5px;
  }

  .icon {
    height: 100px;
  }

  .md {
    width: 70%;
  }

  .source {
    font-size: large;
    font-weight: bold;
  }

  .md :global(a),
  .source {
    color: blue;
    text-decoration: underline;
  }

  @media (max-width: 800px) {
    .mainImg {
      max-width: 80vw;
    }

    .md {
      width: 100%;
    }
  }
</style>
