---
import { ViewTransitions } from "astro:transitions";
import Layout from "./Layout.astro";
import type { MarkdownInstance } from "astro";

import Header from "../components/general/Header.astro";
import Footer from "../components/general/Footer.astro";
import ActuC from "../components/actus/Actu.astro";

import { ActuT, rawMDsToAssos, rawMdToActu } from "../helpers";

type Props = MarkdownInstance<ActuT>;

const assosIcons: Record<string, string> = {
  ...rawMDsToAssos(await Astro.glob("../pages/associations/*.md")).reduce(
    (acc, asso) => ({
      ...acc,
      [asso.filename]: asso.logo,
    }),
    {}
  ),
  bsu: "/assets/logos/bsu.png",
  lettres: "/assets/logos/lettres.svg",
  sciences: "/assets/logos/sciences.svg",
  sante: "/assets/logos/sante.svg",
  polytech: "/assets/logos/polytech.svg",
  fablab: "/assets/logos/fablab.svg",
  celsa: "/assets/logos/celsa.svg",
  su: "/assets/logos/su.svg",
  sse: "/assets/logos/sse.svg",
  capsule: "/assets/logos/capsule.svg",
  etugouv: "/assets/logos/etugouv.png",
  crous: "/assets/logos/crous.png",
  pepite: "/assets/logos/pepite.png",
};

const actu = rawMdToActu(Astro.props);
actu.icons = actu.auteur.map((auteur) => assosIcons[auteur]);
---

<Layout title={actu.title} image={actu.image} description={Astro.props.rawContent()}>
  <ViewTransitions />
  <Header title={actu.title} url={actu.url} />
  <div class="content">
    <main class="wrapper">
      <ActuC actu={actu} />
    </main>
  </div>
  <Footer />
</Layout>

<style>
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: calc(
      100vh - 50px - 150px
    ); /* 50px for header, 150px for footer */
  }

  .wrapper {
    width: 100%;
  }
</style>
