---
import { ViewTransitions } from "astro:transitions";
import Layout from "./Layout.astro";
import type { MarkdownInstance } from "astro";
import FakeSelector from "@/components/actus/FakeSelector.astro";

import Header from "../components/general/Header.astro";
import Footer from "../components/general/Footer.astro";
import Actu from "../components/actus/Actu.astro";

import { rawMDsToAssos, rawMdsToActus } from "@/helpers";
import type { Affiliations } from "@/helpers";

type Props = MarkdownInstance<{
  typeA?: "actualites" | "encemoment" | "evenements";
  aff?: Affiliations;
}>;

const {
  frontmatter: { typeA, aff },
  url,
} = Astro.props;

let title = `Fil d'Actus ${typeA ?? ""} (Non Officiel)`;

const assosIcons: Record<string, string>= {
  ...rawMDsToAssos(await Astro.glob("../pages/associations/*.md")).reduce(
    (acc, asso) => ({
      ...acc,
      [asso.filename]: asso.logo,
    }),
    {},
  ),
  bsu: "/assets/logos/bsu.png",
  lettres: "/assets/logos/lettres.svg",
  sciences: "/assets/logos/sciences.svg",
  sante: "/assets/logos/sante.svg",
  polytech: "/assets/logos/polytech.svg",
  fablab: "/assets/logos/fablab.svg",
  celsa: "/assets/logos/celsa.svg",
  su: "/assets/logos/su.svg",
  sse: "/assets/logos/sse.svg",
  capsule: "/assets/logos/capsule.svg",
  etugouv: "/assets/logos/etugouv.png",
  crous: "/assets/logos/crous.png",
  pepite: "/assets/logos/pepite.png",
};

const actus = rawMdsToActus(
  await Astro.glob("../pages/fildactus/**/*.md"),
).filter((actu) => !typeA || actu.url.split("/").includes(typeA));

actus.forEach((actu) => {
  actu.icons = actu.auteur.map((auteur) => assosIcons[auteur]);
});
---

<Layout title={title}>
  <ViewTransitions />
  <Header title={title} url={url} />
  <div class="content">
    <FakeSelector typeASelected={typeA} affSelected={aff} />
    <main class="wrapper">
      {actus.map((actu) => <Actu actu={actu} />)}
    </main>
  </div>
  <Footer />
</Layout>

<style>
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: calc(
      100vh - 50px - 150px
    ); /* 50px for header, 150px for footer */
  }

  .wrapper {
    width: 100%;
  }
</style>
