---
import { AffColor, type Affiliations, type Assos } from "../../helpers";
import { CelsaC, LettresC, PolyC, SanteC, SciencesC, SuC } from "./affCercles";

interface Props {
  assos: Assos;
}

const { assos } = Astro.props;

let firstColor =
  assos.affiliation && assos.affiliation.length > 0
    ? AffColor[assos.affiliation[0]]
    : "black";
let secondColor = "black";
if (assos.affiliation && assos.affiliation.length > 1) {
  secondColor = AffColor[assos.affiliation[1]];
} else {
  secondColor = firstColor;
}
---

<div class="all">
  {
    assos.affiliation?.slice(0,1).map((aff: string) => {
      if (aff === "celsa") return <CelsaC />;
      if (aff === "lettres") return <LettresC />;
      if (aff === "polytech") return <PolyC />;
      if (aff === "sante") return <SanteC />;
      if (aff === "sciences") return <SciencesC />;
      if (aff === "su") return <SuC />;
    })
  }

  <a class={"wrapper colorByAff"} href={assos.url}>
    <img
      src={assos.logo}
      alt={(assos?.acronyme ?? assos.titre?.slice(0, 10)) + " logo"}
      class="logo"
      loading="lazy"
    />
    <p class="titre">{assos.titre}</p>
    <p class="acronyme">{assos.acronyme && `(${assos.acronyme})`}</p>
  </a>
  <a href={assos.url} class={"wrapperMobile colorByAff"}>
    <img
      src={assos.logo}
      alt={(assos?.acronyme ?? assos.titre?.slice(0, 10)) + " logo"}
      class="logoM"
      loading="lazy"
    />
    <p class="titre">{assos.acronyme ?? assos.titre}</p>
  </a>

  {
    assos.affiliation?.reverse().slice(0,1).map((aff: string) => {
      if (aff === "celsa") return <CelsaC />;
      if (aff === "lettres") return <LettresC />;
      if (aff === "polytech") return <PolyC />;
      if (aff === "sante") return <SanteC />;
      if (aff === "sciences") return <SciencesC />;
      if (aff === "su") return <SuC />;
    })
  }
</div>

<style define:vars={{ firstColor, secondColor }}>
  .colorByAff {
    border-radius: 50px;
    border-collapse: separate;
    border: 3px solid;

    padding: 10px; /* Adding padding to maintain space inside the border */


    border-image: linear-gradient(to right, var(--firstColor), var(--secondColor));
    border-image-slice: 1;
  }
</style>

<style>
  .all {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .wrapperMobile,
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    margin: 0.5rem 0;
    height: 100px;
  }

  .wrapperMobile {
    display: none;
    widows: 80vw;
    justify-content: flex-start;
  }

  @media (max-width: 900px) {
    .wrapper {
      display: none;
    }
    .wrapperMobile {
      display: flex;
    }
  }

  .logoM,
  .logo {
    max-height: 120px;
    width: 200px;
    object-fit: contain;
    padding: 1rem;
    overflow: hidden;
  }

  .logoM {
    max-height: 80px;
    width: 80px;
  }

  .titre {
    font-size: 1.2rem;
    font-weight: bolder;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .acronyme {
    font-size: 1rem;
    padding: 1rem;
    white-space: nowrap;
    min-width: 150px;
    text-align: center;
  }
</style>
